{% extends "layout/base.html" %}

{% block content %}
<img src="https://avatars1.githubusercontent.com/u/22829302?v=4&s=460" class="img-circle center-block">
<h1>Portofolio</h1>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<button id="form-toggle" class="btn btn-primary" onclick="magic()">Want to send me a message?</button>
<section name="form" class="hidden" id="form-element">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
<style type="text/css">
    .hidden {
        display: none;
    }

</style>
<script type="text/javascript">
    function magic() {
        document.getElementById('form-element').classList.toggle('hidden');
        document.getElementById('form-toggle').classList.toggle('btn-danger');
        var buttonVal = document.getElementById('form-toggle').innerHTML;
        if (buttonVal === 'Want to send me a message?') {
            document.getElementById('form-toggle').innerHTML = 'Nevermind..';
        } else {
            document.getElementById('form-toggle').innerHTML = 'Want to send me a message?';
        }
    }
</script>
{% endblock %}

    