.profile {
    position: relative;
    width: 100%;
    height: 35em;
    display: flex;
    justify-content: center;
}

.cover {
    position: absolute;
    width: 100%;
    max-height: 35em;
    z-index: -1;
}

.profile-header {
    padding-top: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    height: auto;
}

.feed {
    padding: 2rem;
    margin: 1rem 0;
    border: 1px solid gray;
    text-align: justify;
}

.feed h1,h2 {
    font-size: 2rem;
}

.feed h2 {
    font-weight: 600;
}