{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2>friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-data" %}',
                dataType: 'json',
                success: function (response) {
                    html = '';

                    response.data.forEach(function(element) {
                        html += '<a class="list-group-item clearfix">' +
                                    element.data.friend_name + ' (' + element.data.npm + ')' +
                                    '<span class="pull-right">' +
                                        '<span class="btn btn-xs btn-default" onclick="deleteFriend(this, ' + element.id + ')">Hapus teman</span>' +
                                    '</span>' +
                                '</a>'
                    });
                    
                    $("#friend-list").append(html);
                },
                error: function(error){
                    alert('error')
                }
            });
        });

        var deleteFriend = function(caller, id) {
            $.ajax({
                method: "POST",
                url: '{% url "lab-7:delete-friend" %}',
                data: {id: id},
                success: function(response) {
                    console.log(response);
                    $(caller.parentNode.parentNode).remove();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
{% endblock %}
