/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}

.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}

/* Textarea not resizeable */
textarea {
   resize:none
}

.plain-link {
    color: white;
    text-decoration: none;
}

.plain-link:hover {
    text-decoration: none;
    color: white;
}